.icon-burger {
  content: url(/images/icons/burger.svg);
}
.icon-lightbulb {
  content: url(/images/icons/lightbulb.svg);
}
.icon-arrow_circle_checked {
  content: url(/images/icons/arrow_circle_checked.svg);
}
.icon-arrow_circle {
  content: url(/images/icons/arrow_circle.svg);
}
.icon-map-gear {
  content: url(/images/icons/map_gear.svg);
}
.icon-arrow-right {
  content: url(/images/icons/arrow_right.svg);
}
.icon-arrow-left {
  content: url(/images/icons/arrow_left.svg);
}
.icon-arrow-down {
  content: url(/images/icons/arrow_down.svg);
}
.icon-burger-diagonal {
  content: url(/images/icons/burger_diagonal.svg);
}
.icon-funnel {
  content: url(/images/icons/funnel.svg);
}
.icon-search {
  content: url(/images/icons/search.svg);
}
.icon-like {
  content: url(/images/icons/like.svg);
}
.icon-dislike {
  content: url(/images/icons/dislike.svg);
}
.icon-cross {
  content: url(/images/icons/cross.svg);
}
.icon-profile {
  content: url(/images/icons/profile.svg);
}
.icon-vertical-lines {
  content: url(/images/icons/vertical_lines.svg);
}
.icon-information {
  content: url(/images/icons/information.svg);
}
.icon-arrow-circle-3d {
  content: url(/images/icons/arrow_circle_3d.svg);
}
.icon-box-in-box {
  content: url(/images/icons/box_in_box.svg);
}
.icon-play {
  content: url(/images/icons/play.svg);
}
.icon-play-backward {
  content: url(/images/icons/play_backward.svg);
}
.icon-play-forward {
  content: url(/images/icons/play_forward.svg);
}
