/* Gültig für alle Dateien */
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Inter-Regular;
}

.shadow {
  filter: drop-shadow(9px 9px 5px rgba(0, 0, 0, 0.2));
}
.flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fullLine {
  background-color: black;
  height: 1px;
  width: 100%;
}

.lineVertical {
  width: 1px;
  height: 100%;
  background-color: black;
}

.blackButtonStyle {
  background-color: black;
  box-sizing: border-box;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  font-size: 12px;
  border-radius: 9999999999px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.blackButtonStyle :link {
  text-decoration: none;
}
a:link,
a:visited {
  text-decoration: none;
}

.radioButtonList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.radioButtonList div {
  width: 12.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.radioButtonList input {
  margin: 0px;
}
