#messages-area {
  height: calc(100% - 30px);
  width: calc(100% - 20px);
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#messages-area p {
  margin: 0px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

#message-container {
  position: absolute;
  right: 10px;
  top: 200px;
  width: 15%;
  height: 40%;
  background-color: white;
}

.message-actions {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#message-input {
  width: 60%;
}

#message-send {
  width: 40%;
}

.message {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-wrap: break-word;
  cursor: pointer;
}
.message:hover {
  background-color: gray;
}

.message-author {
  max-width: 100px;
  min-width: 60px;
}
