.attributeList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
}
.attribute {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.attribute .starRow {
  display: flex;
  flex-direction: row;
  width: 130px;
  justify-content: space-between;
  user-select: none;
}
.attribute .starRow img {
  cursor: pointer;
}
#informtaionBubble {
  user-select: none;
  pointer-events: none;
  width: 100vw;
  height: 30px;
  position: absolute;
  left: 0px;
  bottom: 335px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#informationBubbleContent {
  padding: 8px;
  border-radius: 10px;
  background-color: #efefef;
  font-size: 12px;
}

#attributeSpecificBox {
  height: 30px;
}

.submitAttributesButton {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 19px;
  padding-right: 19px;
  box-sizing: border-box;
  width: 130px;
  cursor: pointer;
}

#attributeSpecificBox .inputAttribute {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #000000;
  padding-left: 8px;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
}

.inputAttributeSpace {
  position: relative;
  width: 30%;
  max-width: 250px;
  min-width: 100px;
}

.inputAttributeSpace img {
  position: absolute;
  right: 8px;
  top: 7px;
  cursor: pointer;
}
