#map {
  height: 100vh;
  width: calc(100vw - 80px);
}

#sideMenu {
  font-family: Inter-Regular;
  width: 80px;
  height: 100vh;
  background-color: white;
  display: flex;
  float: left;
  flex-direction: column;
  align-items: center;
  padding-top: 17px;
  z-index: 999;
  position: relative;
  gap: 12px;
}

.sideMenuItem {
  font-size: 12px;
  width: 80px;
  height: 56px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sideMenuItem:hover {
  background-color: #d9d9d9;
}
.sideMenuItem p {
  margin: 0px;
}

.sideMenuLine {
  width: 80%;
  height: 1px;
  background-color: black;
}

#sideMenu img {
  width: 24px;
  height: 24px;
}

#sideMenuFoldOutButton {
  position: absolute;
  left: 80px;
  top: calc(50vh - 76px / 2);
  height: 76px;
  width: 30px;
  background-color: white;
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
}

#sideMenuFoldOut {
  position: absolute;
  top: 0px;
  left: 80px;
  z-index: 1001;
  width: 250px;
  visibility: hidden;
  height: 100vh;
  background-color: white;
  display: flex;
  float: left;
  flex-direction: column;
  border-left: 1px solid #858585;
  padding: 27px 25px;
  overflow-y: scroll;
}

#sideMenuFoldOut h1 {
  font-size: 18px;
  font-weight: normal;
}
#sideMenuFoldOut .searchSpace {
  width: 100%;
  height: 34px;
  position: relative;
}

.funelTagSpace {
  width: 50px;
}

.searchSpace .icon-search {
  position: absolute;
  right: 5px;
  top: calc(50% - 11px);
}

.search {
  border-radius: 5px;
  border: 1px solid #858585;
  width: calc(100% - 10px);
  height: calc(100% - 2px);
  padding-left: 8px;
}

#ideaContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}

.idea {
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  transition: transform 0.2s ease-in-out;
}

#ideaContainer .idea:hover {
  transform: translateX(10px);
}

.idea-greenStroke {
  border: 1px solid #5aaa3e;
}
.idea-blueStroke {
  border: 1px solid #1e95bb;
}
.idea-invisibleStroke {
  border: 1px solid #1e94bb00;
}

.idea .top {
  height: 24px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: end;
}
.idea .date {
  color: #757575;
  margin: 0px;
}
.idea h2 {
  font-family: Inter-Semi-Bold;
  font-size: 13px;
  margin: 0px;
}
.idea .text p {
  font-size: 12px;
  margin: 0px;
  margin-top: 4px;
}
.idea .text {
  font-size: 12px;
  margin-bottom: 16px;
}
.idea .bottom {
  height: 24px;
  margin: 0px;
}

.idea .bottom .comments {
  cursor: pointer;
}

.idea .bottom img {
  cursor: pointer;
}
.idea .evaluation {
  width: 56px;
}

.ideaPopUp {
  width: 250px;
  border-radius: 5px;
}

#markerPopUpNewIdea {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  min-width: 300px;
}

#markerPopUpNewIdea h3 {
  font-family: Inter-Regular;
  font-size: 16px;
  margin: 0px;
}

#markerPopUpNewIdea input {
  width: calc(100% - 2px);
  border-radius: 5px;
  border: 1px solid #858585;
  height: 34px;
  padding-left: 8px;
}

#markerPopUpNewIdea textarea {
  width: calc(100% - 2px);
  border-radius: 5px;
  border: 1px solid #858585;
  padding-left: 8px;
  padding-top: 9px;
}

.leaflet-popup-content {
  margin: 0px;
}

.leaflet-popup-content-wrapper {
  border-radius: 5px;
}

#markerPopUpNewIdea .buttonContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 10px;
}

#markerPopUpNewIdea .abortButton {
  width: 95px;
  height: 40px;
  font-size: 12;
  border-radius: 9999999999px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.blackButtonStyle {
  background-color: black;
  color: white;
  width: 95px;
  height: 40px;
  font-size: 12;
  border-radius: 9999999999px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#markerPopUpNewIdea span {
  user-select: none;
}

#ideaOpen {
  width: 100vw;
  height: 100vw;
  visibility: hidden;
  overflow-y: scroll;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1500;
}
.grayLayer {
  background-color: #00000071;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ideaSpace {
  background-color: white;
  border-radius: 10px;
  width: 900px;
  padding-top: 28px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 80vh;
}

#ideaSpace h4 {
  font-family: Inter-Semi-Bold;
  font-size: 16;
  margin: 0px;
}

#ideaSpace .top {
  height: 24px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

#ideaSpace .date {
  color: #757575;
  margin: 0px;
  font-size: 12px;
}

#ideaSpace .icons-cross {
  width: 13px;
  height: 13px;
}

#ideaSpace .text p {
  font-size: 16px;
}

#ideaSpace .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 16px;
  height: 40px;
}

#ideaSpace .evaluation {
  width: 50px;
}

#ideaSpace .shareButton {
  font-size: 0.75em;
}

.commentSectionLong {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.writeComment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.writeComment input {
  height: 26px;
  border-width: 0px 0px 1px 0px;
  width: 75%;
  padding-left: 6px;
}

.commentContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-right: 25%;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 8px;
  width: 100%;
}

.comment .mainPart {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.comment .author {
  font-family: Inter-Semi-Bold;
  font-size: 12px;
  margin: 0px;
}
.comment .topPart {
  display: flex;
  gap: 8px;
  justify-content: start;
  align-items: end;
}
.comment .text {
  font-size: 12px;
  margin: 0px;
}
.comment .evaluationAndAnswer {
  display: flex;
  gap: 16px;
  align-items: center;
}
.comment .answerButton {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
.comment .answers {
  font-size: 12px;
  padding: 12px 0px;
}
