#map {
  height: 100vh;
  width: calc(100vw - 80px);
}

#sideMenu {
  font-family: Inter-Regular;
  width: 80px;
  height: 100vh;
  background-color: white;
  display: flex;
  float: left;
  flex-direction: column;
  align-items: center;
  padding-top: 17px;
  z-index: 999;
  position: relative;
  gap: 12px;
}

.sideMenuItem {
  font-size: 12px;
  width: 80px;
  height: 56px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sideMenuItem:hover {
  background-color: #d9d9d9;
}
.sideMenuItem p {
  margin: 0px;
}

.sideMenuLine {
  width: 80%;
  height: 1px;
  background-color: black;
}

#sideMenu img {
  width: 24px;
  height: 24px;
}

#sideMenuFoldOutButton {
  position: absolute;
  left: 80px;
  top: calc(50vh - 76px / 2);
  height: 76px;
  width: 30px;
  background-color: white;
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
}

#sideMenuFoldOut {
  position: absolute;
  top: 0px;
  left: 80px;
  z-index: 1001;
  width: 250px;
  height: 100vh;
  background-color: white;
  display: flex;
  float: left;
  flex-direction: column;
  border-left: 1px solid #858585;
  padding: 27px 25px;
}

#sideMenuFoldOut h1 {
  font-size: 18px;
  font-weight: normal;
}
#sideMenuFoldOut .searchSpace {
  width: 100%;
  height: 34px;
  position: relative;
}

.funelTagSpace {
  width: 50px;
}

.searchSpace .icon-search {
  position: absolute;
  right: 5px;
  top: calc(50% - 11px);
}

.search {
  border-radius: 5px;
  border: 1px solid #858585;
  width: calc(100% - 10px);
  height: calc(100% - 2px);
  padding-left: 8px;
}

#ideaContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}

.idea {
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  transition: transform 0.2s ease-in-out;
}

.idea:hover {
  transform: translateX(10px);
}

.idea-greenStroke {
  border: 1px solid #5aaa3e;
}
.idea-blueStroke {
  border: 1px solid #1e95bb;
}
.idea-invisibleStroke {
  border: 1px solid #1e94bb00;
}

.idea .top {
  height: 24px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: end;
}
.idea .date {
  color: #757575;
  margin: 0px;
}
.idea h2 {
  font-family: Inter-Semi-Bold;
  font-size: 13px;
  margin: 0px;
}
.idea .text p {
  font-size: 12px;
  margin: 0px;
  margin-top: 4px;
}
.idea .text {
  font-size: 12px;
  margin-bottom: 16px;
}
.idea .bottom {
  height: 24px;
  margin: 0px;
}

.idea .bottom .comments {
  cursor: pointer;
}

.idea .bottom img {
  cursor: pointer;
}
.idea .evaluation {
  width: 56px;
}
