.button-container {
  width: 10vw;
  max-width: 100px;
  height: 80vh;
  background-color: rgb(169, 169, 169);
  position: absolute;
  top: 10vh;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  width: 90%;
  height: auto;
  cursor: pointer;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
